<h1>Viajes por Piloto</h1>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">

        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="col-lg-4">


                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-select placeholder="Seleccione un Piloto" formControlName="pIdPiloto">
                        <mat-option *ngFor="let opest of pilotos" [value]="opest.idPiloto">
                            {{ opest.pNombre }}
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="f['pIdPiloto'].touched && f['pIdPiloto'].invalid" class="m-b-16 error-msg">
                        <div class="text-error" *ngIf="f['pIdPiloto'].errors">
                            <div *ngIf="f['pIdPiloto'].errors['required']">
                                Selecione un Piloto
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput placeholder="Fecha de Fecha Inicio*" formControlName="pFechaInicio" type="date">
                    <mat-hint *ngIf="f['pFechaInicio'].touched && f['pFechaInicio'].invalid" class="m-b-16 error-msg">
                        <div class="text-error" *ngIf="f['pFechaInicio'].errors">
                            <div *ngIf="f['pFechaInicio'].errors['required']">
                                Fecha
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>


                <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput placeholder="Fecha Fin*" formControlName="pFechaFin" type="date">
                    <mat-hint *ngIf="f['pFechaFin'].touched && f['pFechaFin'].invalid" class="m-b-16 error-msg">
                        <div class="text-error" *ngIf="f['pFechaFin'].errors">
                            <div *ngIf="f['pFechaFin'].errors['required']">
                                Fecha de Carga es requerida
                            </div>
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>
            <mat-card-actions appearance="outline" class="w-100" color="primary">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
                Consultar
               </button>

            </mat-card-actions>
        </form>

    </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="w-100">
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
                    <td mat-cell *matCellDef="let element">{{ element.idPiloto }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nombres</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex align-items-center">
                            <!-- <img class="rounded-circle" [src]="element.imagePath" width="40" /> -->
                            <div class="m-l-16">
                                <p class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">
                                    {{ element.pNombre }} {{element.pSNombre}}
                                </p>
                                <!-- <small class="mat-body-1 f-s-14">{{ element.Position }}</small> -->
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Apellidos
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.pPApellido }} {{element.pSApellido}}</td>
                </ng-container>


                <ng-container matColumnDef="direccion">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Dirección
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.pDireccion }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Telefono
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.pNoTelefono }}</td>
                </ng-container>

                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        No. DPI
                    </th>
                    <td mat-cell *matCellDef="let element" class="f-s-14">
                        {{ element.pNoDPI }}
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                        Acción
                    </th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <a (click)="actualizar( element.idPiloto)" class="m-r-10 cursor-pointer">
                            <i-tabler name="edit" class="icon-18"></i-tabler>
                        </a>
                        <a (click)="borrar( element.idPiloto)" class="m-r-10 cursor-pointer">
                            <i-tabler name="trash" class="icon-18"></i-tabler>
                        </a>
                    </td>
                </ng-container> -->

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>