<h1>Registro Usuarios</h1>
<mat-card class="cardWithShadow theme-card">
    <mat-card-content class="b-t-1">
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="row m-t-20">
                <div class="col-lg-6">
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Id Usuario" formControlName="pIdUsuario" type="text">

                        <mat-hint *ngIf="f['pIdUsuario'].touched && f['pIdUsuario'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pIdUsuario'].errors">
                                <div *ngIf="f['pIdUsuario'].errors['required']">
                                    Id de Usuario es requerido
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Contraseña" formControlName="pContrasenia" type="password">

                        <mat-hint *ngIf="f['pContrasenia'].touched && f['pContrasenia'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pContrasenia'].errors">
                                <div *ngIf="f['pContrasenia'].errors['required']">
                                    Contraseña Es requerida
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Primer Nombre*" formControlName="pPNombre" type="text">
                        <mat-hint *ngIf="f['pPNombre'].touched && f['pPNombre'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pPNombre'].errors">
                                <div *ngIf="f['pPNombre'].errors['required']">
                                    Primer Nombre es requerido
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Segundo Nombre*" formControlName="SNombre" type="text">
                        <mat-hint *ngIf="f['SNombre'].touched && f['SNombre'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['SNombre'].errors">
                                <div *ngIf="f['SNombre'].errors['required']">
                                    Segundo Nombre es Requerido
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Primer Apellido" formControlName="pPApellido" type="text">
                        <mat-hint *ngIf="f['pPApellido'].touched && f['pPApellido'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pPApellido'].errors">
                                <div *ngIf="f['pPApellido'].errors['required']">
                                    Primer Apellido es requerido
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>


                </div>
                <div class="col-lg-6">

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Segundo Apellido*" formControlName="pSApellido" type="text">
                        <mat-hint *ngIf="f['pSApellido'].touched && f['pSApellido'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pSApellido'].errors">
                                <div *ngIf="f['pSApellido'].errors['required']">
                                    Segundo Apellido es requerido
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Correo Electrónico" formControlName="pCorreo" type="text">
                        <mat-hint *ngIf="f['pCorreo'].touched && f['pCorreo'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pCorreo'].errors">
                                <div *ngIf="f['pCorreo'].errors['required']">
                                    Correo electronico es Requerido
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Documento de Identificación Personal (DPI)*" formControlName="pNoDPI" type="text">
                        <mat-hint *ngIf="f['pNoDPI'].touched && f['pNoDPI'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pNoDPI'].errors">
                                <div *ngIf="f['pNoDPI'].errors['required']">
                                    Ingrese el DPI
                                </div>
                                <div *ngIf="f['pNoDPI'].errors['minlength'] || f['pNoDPI'].errors['maxlength']">
                                    Ingrese un número de DPI válido
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Número de Teléfono*" formControlName="pNoTelefono" type="text">
                        <mat-hint *ngIf="f['pNoTelefono'].touched && f['pNoTelefono'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pNoTelefono'].errors">
                                <div *ngIf="f['pNoTelefono'].errors['required']">
                                    Ingresa un número de teléfono
                                </div>
                                <div *ngIf="f['pNoTelefono'].errors['minlength'] || f['pNoTelefono'].errors['maxlength']">
                                    Ingrese un número de teléfono válido
                                </div>
                                <div *ngIf="f['pNoTelefono'].errors['pattern']">
                                    No puede Ingresar Letras
                                </div>

                            </div>
                        </mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <mat-select placeholder="Seleccione un Rol" formControlName="pIdRol">
                            <mat-option *ngFor="let opest of Roles" [value]="opest.pIdRol
                          ">
                                {{ opest.pDescripcion }}
                            </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="f['pIdRol'].touched && f['pIdRol'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pIdRol'].errors">
                                <div *ngIf="f['pIdRol'].errors['required']">
                                    Selecione un Rol
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>


                </div>

                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput placeholder="Dirección*" formControlName="pDireccion" type="text">
                        <mat-hint *ngIf="f['pDireccion'].touched && f['pDireccion'].invalid" class="m-b-16 error-msg">
                            <div class="text-error" *ngIf="f['pDireccion'].errors">
                                <div *ngIf="f['pDireccion'].errors['required']">
                                    Dirección es Requerida
                                </div>
                            </div>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <!-- <pre>{{ form.value | json }}</pre> -->
            <mat-card-actions appearance="outline" class="w-100" color="primary">
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">
              Guardar
             </button>
                <button mat-raised-button style="background-color:rgb(0, 255, 140);" type="submit" class="mx-16" (click)="regresar()">
              Regresar
          </button>

            </mat-card-actions>

        </form>
    </mat-card-content>
</mat-card>